---
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt';
import data from "../data/siteMetaData.ts";
import PostMetadata from '../components/PostMetadata.astro';
import Layout from '../layouts/Layout.astro';
const siteTitle = data.title;
const postImporters = Object.values(import.meta.glob('../pages/**/*.md'));
const posts = await Promise.all(postImporters.map(fn => fn()));

// Define the expected post type
interface PostFrontmatter {
  date: string;
  tags: string[];
  title: string;
  path: string;
}
interface Post {
  frontmatter: PostFrontmatter;
  url?: string;
}
---
<style lang="scss">
  @use "../styles/main.scss"
</style>
<Layout title={siteTitle}>
  <main>
    {(posts as Post[])
      .sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date))
      .map(post => {
        const typedPost = post as Post;
        if (typedPost.url !== '/404/') {
          const tags = typedPost.frontmatter.tags;
          const formattedDate = new Date(Date.parse(typedPost.frontmatter.date)).toDateString();

          return (
            <article class="post">
              <a class="post-title" href={typedPost.frontmatter.path}>
                <h2>{typedPost.frontmatter.title}</h2>
              </a>
              <PostMetadata
                date={formattedDate}
                tags={tags}
              />
              <p>
                <PostExcerpt post={typedPost} words={20} addEllipsis={true}/>
              </p>
              <a href={typedPost.frontmatter.path}>Read More</a>
            </article>
          );
        }
      })}
  </main>
</Layout>