---
import PostMetadata from '../components/PostMetadata.astro';
import Layout from './Layout.astro';

interface Props {frontmatter: {
	title: string;
	path: string;
	date: string;
  tags: string[];
}}

import data from "../data/siteMetaData.ts"
import Comments from '../components/Comments';
const { frontmatter } = Astro.props;
const formattedDate = new Date(Date.parse(frontmatter.date)).toDateString();
---
<style lang="scss">
  @use "../styles/main.scss"
</style>    
<Layout title={`${frontmatter.title} | ${data.title}`}>
  <main>
    <article class="article">
      <h2>{frontmatter.title}</h2>
      <PostMetadata date={formattedDate} tags={frontmatter.tags} />
      <slot />
    </article>
    <Comments client:idle />
  </main>
</Layout>